#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.desc {
  display: flex;
  flex-direction: column;
  justify-content: end;  
}
.dataSection button {
  margin-top: 30px;
  width: 7em;
}
.dataSection , .desc {
  height: 50%;
}
.facts {
  max-width: 50vh;
  margin: 30px auto;
}